

{% extends "layout.html" %}

{% block content %}

<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <h1>Live Streaming</h1>

                </div>
                <div class="row">
                    <ul>
                        <li><h2>Item</h2></li>
                        <li><h2>Item</h2></li>
                        <li><h2>Item</h2></li>
                        <li><h2>Item</h2></li>
        
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
             <img src="{{ url_for('video_feed') }}" width="1000px" height="600px" style="float: left;border: 5px solid #259;">
                
            </div>
        </div>
    </div>
    
</section><!-- End Hero -->

<main id="main">
  {% endblock %}